body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #000;
    color: #FFF;
}

body.paused {
    user-select: none;
    -webkit-user-select: none;
    /* zoom */
    -webkit-touch-callout: none;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    /* disable pinch zoom action */
    touch-action: manipulation;
}

video,
img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 1.6rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

input {
    outline: 0;
}

#slide {
    display: grid;
    border-radius: 6px;
    overflow: hidden;
    margin: 19px auto;
    max-height: 843px;
    max-width: 474px;
    background-color: #111;
}

#slide-elements {
    display: grid;
    grid-area: 1/1;
}

#slide-elements>* {
    grid-area: 1/1;
    opacity: 0;
    visibility: none;
    object-fit: contain;
}

#slide-elements>.active {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* control buttons over #slide-elements  */
#slide-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 1/1;
    position: relative;
    background-color: #3333;
    box-shadow: -1px 200px 91px -200px rgba(0, 0, 0, .9) inset, -1px -200px 91px -200px rgba(0, 0, 0, .9) inset;
}

#slide-controls button {
    opacity: 0;
    /*iOS purposes: maybe show some shadow*/
    appearance: none;
    /* when tap on screen you get a highlight feedback in mobile devices */
    -webkit-tap-highlight-color: transparent;
}


/* thumbs time indicator */
#slide-thumb {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 12px;
}

#slide-thumb>span {
    flex: 1;
    display: block;
    height: 2px;
    background: rgba(255, 255, 255, .3);
    margin: 6px;
    border-radius: 3px;
    pointer-events: none;
    overflow: hidden;
    isolation: isolate;
}

#slide-thumb .thumb-item.active {
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, .9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 3s forwards linear running;
}


#slide-thumb .thumb-item.paused {
    animation-play-state: paused;
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

/* STORY HEADER - PROFILE INFOS */
#slide-profile {
    display: grid;
    justify-content: start;
    align-items: start;
    grid-area: 1/1;
    z-index: 999;
    pointer-events: none;
    position: relative;
}

#slide-profile .story-header-profile {
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 0 26px 0 6px;
}

#slide-profile .story-header-profile .story-header-profile-infos,
#slide-profile .story-header-profile .story-header-profile-buttons {
    display: flex;
    align-items: center;
    gap: 9px;
}

#slide-profile .story-header-profile .story-header-profile-buttons {
    gap: 22px;
}

#slide-profile .story-header-profile .story-header-profile-buttons div>i {
    font-size: 24px;
    cursor: pointer;
    pointer-events: all;
}

#slide-profile div span {
    color: #FFF9;
    font-size: 14px;
    font-weight: 500;
}

#slide-profile div img {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;

}

#slide-profile a {
    pointer-events: all;
}

/*  STORY FOOTER */
#slide-profile .story-footer {
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 0 26px 0 6px;
    bottom: 0;
    align-items: center;
    gap: 16px;
    pointer-events: all;
}

#slide-profile .story-footer input {
    padding: 20px 32px;
    color: #FFF9;
    border: 1px solid currentColor;
    border-radius: 32px;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}

#slide-profile .story-footer input::placeholder {
    color: currentColor;
}

#slide-profile .story-footer .story-footer-buttons {
    display: flex;
    gap: 16px;
}

#slide-profile .story-footer .story-footer-buttons>i {
    font-size: 32px;
    cursor: pointer;
}